*.aux
*.bbl
*.blg
*.log
*.synctex.gz
*-concordance.tex
*.Rdata
*.Rhistory
*.Rda
*.DS_Store
*.Rapp.history
Input/.Rhistory
sub_projs/MTSV_USFS/MTSVUSFS.mods
sub_projs/HFmodeloutput
sub_projs/HFfinalmanuscriptmods
sub_projs/finalmanuscriptmodels
FLOBUDS/Plots/.DS_Store
FLOBUDS/Plots/.DS_Store
FLOBUDS/.Rhistory
FLOBUDS/.Rhistory
G52.pptx
G52pdf.pdf
G52.pdf
G5.pptx
Scripts/.DS_Store
sub_projs/HarvardForest/plots/HFfinalmanuscriptmods
sub_projs/HarvardForest/plots/HFmodeloutput
*.RdaTmp1
*.nc
